form {
    padding: 8px;
    border: 1px solid hsl(0deg 0% 50%);
  }
  
  label {
    font-weight: 500;
  }
  input {
    display: block;
    width: 100%;
    height: 2.5rem;
    margin-top: 4px;
  }
  button {
    height: 2.9rem;
  }